{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="page-container">
    <!-- HEADER DESKTOP-->
    {%include 'userbar.html'%}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Foydalanuvchi: {{ request.user.username }}</h2>
                        </div>
                    </div>
                </div>
                <br>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                <h2>Oxirgi harakatlar:</h2>
                <div class="row">Tizimga muvaffaqiyatli kirildi</div>
                <div class="row">Dashboard ko'zdan kechirildi</div>
            </div>

            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon"><i class="fa fa-list"></i></div>
                                <div class="text">
                                    <h2>{{ counts.categories|default:0 }}</h2>
                                    <span>Kategoriyalar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon"><i class="fa fa-utensils"></i></div>
                                <div class="text">
                                    <h2>{{ counts.products|default:0 }}</h2>
                                    <span>Mahsulotlar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon"><i class="zmdi zmdi-shopping-cart"></i></div>
                                <div class="text">
                                    <h2>{{ counts.orders|default:0 }}</h2>
                                    <span>Buyurtmalar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon"><i class="zmdi zmdi-pin"></i></div>
                                <div class="text">
                                    <h2>{{ counts.branches|default:0 }}</h2>
                                    <span>Filiallar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
 </div>
{% endblock %}